@model List<Post>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Category.CategoryName</h5>
                        <p class="card-text">@Html.Raw(item.Content)</p>
                        <strong class="d-flex justify-content-center align-items-center mb-1" >@item.Author.Email</strong>
                        <div class="row d-flex justify-content-center align-items-center">
                            @{
                                var status = item.Publish == true ? "checked" : "";
                            }
                            <input class="toggle-event" type="checkbox" data-toggle="toggle" data-id="@item.Id" @status>
                        </div>
                    </div>
                </div>
            </div>


        }
    </div>
</div>
@section scripts {
    <script>
        function UploadImages() {

            for (var i = 0; i < $(".card-text").next("p").length; i++) {
                if ($(".card-text").next("p")[i].children[0]?.src == undefined) {
                    $(".card-text").next("p")[i].prepend($('<img>', { src: 'https://placehold.co/400x100' })[0])
                }
            }
        }
        $(function () {
            $('.toggle-event').change(function () {
                $.ajax({
                        type: "post",
                        url: "@Url.Action("Publish", "Dashboard")",
                        data: { id: $(this).data('id'), publish: $(this).prop('checked') },
                        success: function (result) {
                            if (result.success) {
                                toastr.success("Başarılı", "Post Aktifleştirildi.");
                            } else {
                                toastr.warning("Başarılı", "Post Pasifleştirildi.");
                            }
                        }
                    });
                /*console.log($(this).prop('checked'))*/
                //$('.console-event-').html('Toggle: ' + $(this).prop('checked'));
            })
            $("img").css({
                "max-width": "auto",
                "height" : "100px"
            })
            $(".card-text").next("p").css({
                "overflow": "auto"
            })


            

            UploadImages();
        });
    </script>
} 